flows.json
[
    {
        "id": "everest-flow-tab",
        "type": "tab",
        "label": "EVerest Dashboard",
        "disabled": false,
        "info": "Main dashboard flow for EVerest charger control and monitoring"
    },
    {
        "id": "mqtt-broker-local",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dashboard-ui-base",
        "type": "ui-base",
        "name": "EVerest Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": ["visibility", "displayMode"],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "dashboard-theme",
        "type": "ui-theme",
        "name": "EVerest Theme",
        "colors": {
            "surface": "#1a1a2e",
            "primary": "#2a62ac",
            "bgPage": "#16213e",
            "groupBg": "#1a1a2e",
            "groupOutline": "#2a62ac"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "8px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "page-home",
        "type": "ui-page",
        "name": "Home",
        "ui": "dashboard-ui-base",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "dashboard-theme",
        "breakpoints": [
            {"name": "Default", "px": 0, "cols": 3},
            {"name": "Tablet", "px": 576, "cols": 6},
            {"name": "Desktop", "px": 1024, "cols": 12}
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "page-debug",
        "type": "ui-page",
        "name": "Debug",
        "ui": "dashboard-ui-base",
        "path": "/debug",
        "icon": "bug-report",
        "layout": "grid",
        "theme": "dashboard-theme",
        "breakpoints": [
            {"name": "Default", "px": 0, "cols": 3},
            {"name": "Tablet", "px": 576, "cols": 6},
            {"name": "Desktop", "px": 1024, "cols": 12}
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-vehicle-status",
        "type": "ui-group",
        "name": "Vehicle Status",
        "page": "page-home",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-connector",
        "type": "ui-group",
        "name": "Connector 1",
        "page": "page-home",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-activity-log",
        "type": "ui-group",
        "name": "Activity Log",
        "page": "page-home",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-simulation",
        "type": "ui-group",
        "name": "EV Simulation (Hardware-in-the-Loop)",
        "page": "page-home",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "group-debug-state",
        "type": "ui-group",
        "name": "State",
        "page": "page-debug",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "init-inject",
        "type": "inject",
        "z": "everest-flow-tab",
        "name": "Init",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [["init-connector"]]
    },
    {
        "id": "init-connector",
        "type": "change",
        "z": "everest-flow-tab",
        "name": "Set Connector 1",
        "rules": [
            {"t": "set", "p": "connector_number", "pt": "flow", "to": "1", "tot": "str"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "btn-pause",
        "type": "ui-button",
        "z": "everest-flow-tab",
        "group": "group-connector",
        "name": "Pause",
        "label": "Pause",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Pause charging",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-pause",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_api/evse_manager_1/cmd/pause_charging",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 130,
        "y": 180,
        "wires": [["mqtt-out-cmd", "log-user-action"]]
    },
    {
        "id": "btn-resume",
        "type": "ui-button",
        "z": "everest-flow-tab",
        "group": "group-connector",
        "name": "Resume",
        "label": "Resume",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Resume charging",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-play",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_api/evse_manager_1/cmd/resume_charging",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 140,
        "y": 220,
        "wires": [["mqtt-out-cmd", "log-user-action"]]
    },
    {
        "id": "insert-connector",
        "type": "change",
        "z": "everest-flow-tab",
        "name": "Insert Connector #",
        "rules": [
            {"t": "change", "p": "topic", "pt": "msg", "from": "#", "fromt": "str", "to": "connector_number", "tot": "flow"}
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 220,
        "wires": [["mqtt-out-cmd", "log-user-action"]]
    },
    {
        "id": "mqtt-out-cmd",
        "type": "mqtt out",
        "z": "everest-flow-tab",
        "name": "Send Command",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-local",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "mqtt-in-state",
        "type": "mqtt in",
        "z": "everest-flow-tab",
        "name": "State String",
        "topic": "everest_external/nodered/+/state/state_string",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [["filter-connector-state", "log-session-event"]]
    },
    {
        "id": "mqtt-in-power",
        "type": "mqtt in",
        "z": "everest-flow-tab",
        "name": "Power kW",
        "topic": "everest_external/nodered/+/powermeter/totalKw",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [["filter-connector-power"]]
    },
    {
        "id": "mqtt-in-energy",
        "type": "mqtt in",
        "z": "everest-flow-tab",
        "name": "Energy kWh",
        "topic": "everest_external/nodered/+/powermeter/totalKWattHr",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [["filter-connector-energy"]]
    },
    {
        "id": "mqtt-in-temperature",
        "type": "mqtt in",
        "z": "everest-flow-tab",
        "name": "Temperature",
        "topic": "everest_external/nodered/+/state/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 520,
        "wires": [["filter-connector-temp"]]
    },
    {
        "id": "filter-connector-state",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Filter Connector",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [["display-state", "combine-state-power"]]
    },
    {
        "id": "filter-connector-power",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Filter Connector",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [["display-power", "combine-state-power"]]
    },
    {
        "id": "filter-connector-energy",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Filter Connector",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [["display-energy", "display-vehicle-energy"]]
    },
    {
        "id": "filter-connector-temp",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Filter Connector",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [["display-temperature"]]
    },
    {
        "id": "display-state",
        "type": "ui-text",
        "z": "everest-flow-tab",
        "group": "group-connector",
        "name": "State",
        "label": "State",
        "order": 4,
        "width": "6",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#4fc3f7",
        "className": "",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "display-power",
        "type": "ui-text",
        "z": "everest-flow-tab",
        "group": "group-connector",
        "name": "Power",
        "label": "Power (kW)",
        "order": 5,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload | number:1}} kW",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#81c784",
        "className": "",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "display-energy",
        "type": "ui-text",
        "z": "everest-flow-tab",
        "group": "group-connector",
        "name": "Energy",
        "label": "Energy (kWh)",
        "order": 6,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload | number:2}} kWh",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#ffb74d",
        "className": "",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "display-temperature",
        "type": "ui-text",
        "z": "everest-flow-tab",
        "group": "group-vehicle-status",
        "name": "Temperature",
        "label": "Temp (°C)",
        "order": 3,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload | number:0}}°C",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 18,
        "color": "#4fc3f7",
        "className": "",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "combine-state-power",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Combine State & Power",
        "func": "// Store state and power separately\nif (msg.topic.indexOf('state_string') >= 0) {\n    flow.set('vehicle_state', msg.payload);\n} else if (msg.topic.indexOf('totalKw') >= 0) {\n    flow.set('vehicle_power', msg.payload);\n}\n\n// Get current values\nconst state = flow.get('vehicle_state') || 'Unknown';\nconst power = flow.get('vehicle_power') || 0;\n\n// Build message for gauge\nmsg.payload = parseFloat(power) || 0;\nmsg.title = state;\nmsg.ui_update = { title: state };\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [["power-gauge"]]
    },
    {
        "id": "power-gauge",
        "type": "ui-gauge",
        "z": "everest-flow-tab",
        "group": "group-vehicle-status",
        "name": "Power Gauge",
        "order": 1,
        "width": "6",
        "height": "5",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Power",
        "units": "kW",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {"from": "0", "color": "#78909c"},
            {"from": "30", "color": "#4fc3f7"},
            {"from": "60", "color": "#26c6da"},
            {"from": "90", "color": "#00e676"},
            {"from": "120", "color": "#76ff03"}
        ],
        "min": 0,
        "max": 150,
        "sizeThickness": 24,
        "sizeGap": 4,
        "sizeKeyThickness": 12,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "display-vehicle-energy",
        "type": "ui-text",
        "z": "everest-flow-tab",
        "group": "group-vehicle-status",
        "name": "Vehicle Energy",
        "label": "Charged (kWh)",
        "order": 2,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload | number:2}} kWh",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 18,
        "color": "#ffb74d",
        "className": "",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "switch-simulation",
        "type": "ui-switch",
        "z": "everest-flow-tab",
        "group": "group-simulation",
        "name": "Enable Simulation",
        "label": "① Enable EV Simulation (HIL)",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "everest_external/nodered/1/carsim/cmd/enable",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 580,
        "wires": [["insert-connector"]]
    },
    {
        "id": "mqtt-in-sim-enabled",
        "type": "mqtt in",
        "z": "everest-flow-tab",
        "name": "Sim Enabled State",
        "topic": "everest/modules/ev_manager_1/impl/main/var",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 540,
        "wires": [["parse-sim-enabled"]]
    },
    {
        "id": "parse-sim-enabled",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Parse Enabled",
        "func": "// Filter for 'enabled' variable and extract the boolean value\nif (msg.payload && msg.payload.name === 'enabled') {\n    const enabled = msg.payload.data;\n    flow.set('sim_enabled', enabled);\n    \n    // Send to switch\n    const switchMsg = { payload: enabled };\n    \n    // Send hint message\n    const hintMsg = {\n        payload: enabled ? '✓ EV Simulation active' : '⚠️ Enable EV Simulation first!',\n        ui_update: { color: enabled ? '#81c784' : '#ff9800' }\n    };\n    \n    return [switchMsg, hintMsg];\n}\nreturn [null, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [["switch-simulation"], ["sim-hint-text"]]
    },
    {
        "id": "sim-hint-text",
        "type": "ui-text",
        "z": "everest-flow-tab",
        "group": "group-simulation",
        "name": "Sim Hint",
        "label": "",
        "order": 0,
        "width": "6",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 14,
        "color": "#ff9800",
        "className": "",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "init-sim-hint",
        "type": "inject",
        "z": "everest-flow-tab",
        "name": "Init Hint",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "⚠️ Enable EV Simulation first!",
        "payloadType": "str",
        "x": 380,
        "y": 500,
        "wires": [["sim-hint-text"]]
    },
    {
        "id": "dropdown-sim-profile",
        "type": "ui-dropdown",
        "z": "everest-flow-tab",
        "group": "group-simulation",
        "name": "Sim Profile",
        "label": "EV Profile",
        "tooltip": "",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {"label": "DC Fast Charge", "value": "iso_wait_slac_matched;iso_start_v2g_session DC;iso_wait_pwr_ready;iso_dc_power_on;sleep 36000#unplug#iso_pause_charging#iso_dc_power_on;sleep 36000", "type": "str"}
        ],
        "payload": "",
        "topic": "sim_commands",
        "topicType": "str",
        "className": "",
        "x": 150,
        "y": 620,
        "wires": [["buffer-sim-commands"]]
    },
    {
        "id": "init-sim-profile",
        "type": "inject",
        "z": "everest-flow-tab",
        "name": "Default Profile",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "sim_commands",
        "payload": "iso_wait_slac_matched;iso_start_v2g_session DC;iso_wait_pwr_ready;iso_dc_power_on;sleep 36000#unplug#iso_pause_charging#iso_dc_power_on;sleep 36000",
        "payloadType": "str",
        "x": 160,
        "y": 660,
        "wires": [["dropdown-sim-profile"]]
    },
    {
        "id": "btn-car-plugin",
        "type": "ui-button",
        "z": "everest-flow-tab",
        "group": "group-simulation",
        "name": "Car Plugin",
        "label": "② Car Plugin",
        "order": 3,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Enable HIL Simulation first, then click to plug in",
        "color": "",
        "bgcolor": "#4caf50",
        "className": "",
        "icon": "mdi-ev-plug-type2",
        "iconPosition": "left",
        "payload": "start",
        "payloadType": "str",
        "topic": "everest_external/nodered/1/carsim/cmd/execute_charging_session",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 150,
        "y": 720,
        "wires": [["buffer-sim-commands"]]
    },
    {
        "id": "btn-stop-unplug",
        "type": "ui-button",
        "z": "everest-flow-tab",
        "group": "group-simulation",
        "name": "Stop & Unplug",
        "label": "Stop & Unplug",
        "order": 4,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Stop charging and unplug",
        "color": "",
        "bgcolor": "#f44336",
        "className": "",
        "icon": "mdi-power-plug-off",
        "iconPosition": "left",
        "payload": "stop",
        "payloadType": "str",
        "topic": "everest_external/nodered/1/carsim/cmd/modify_charging_session",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 160,
        "y": 760,
        "wires": [["buffer-sim-commands"]]
    },
    {
        "id": "btn-ev-pause",
        "type": "ui-button",
        "z": "everest-flow-tab",
        "group": "group-simulation",
        "name": "EV Pause",
        "label": "EV Pause",
        "order": 5,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Pause EV charging",
        "color": "",
        "bgcolor": "#ff9800",
        "className": "",
        "icon": "mdi-pause-circle",
        "iconPosition": "left",
        "payload": "pause",
        "payloadType": "str",
        "topic": "everest_external/nodered/1/carsim/cmd/modify_charging_session",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 150,
        "y": 800,
        "wires": [["buffer-sim-commands"]]
    },
    {
        "id": "btn-ev-resume",
        "type": "ui-button",
        "z": "everest-flow-tab",
        "group": "group-simulation",
        "name": "EV Resume",
        "label": "EV Resume",
        "order": 6,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Resume EV charging",
        "color": "",
        "bgcolor": "#2196f3",
        "className": "",
        "icon": "mdi-play-circle",
        "iconPosition": "left",
        "payload": "resume",
        "payloadType": "str",
        "topic": "everest_external/nodered/1/carsim/cmd/modify_charging_session",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "x": 150,
        "y": 840,
        "wires": [["buffer-sim-commands"]]
    },
    {
        "id": "buffer-sim-commands",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Buffer Sim Commands",
        "func": "if (msg.topic.indexOf('sim_commands') > -1) {\n    const s = msg.payload.split('#');\n    flow.set('sim_commands_start', s[0]);\n    flow.set('sim_commands_stop', s[1]);\n    flow.set('sim_commands_pause', s[2]);\n    flow.set('sim_commands_resume', s[3]);\n} else if (msg.payload == 'start') {\n    msg.payload = flow.get('sim_commands_start');\n    return msg;\n} else if (msg.payload == 'stop') {\n    msg.payload = flow.get('sim_commands_stop');\n    return msg;\n} else if (msg.payload == 'pause') {\n    msg.payload = flow.get('sim_commands_pause');\n    return msg;\n} else if (msg.payload == 'resume') {\n    msg.payload = flow.get('sim_commands_resume');\n    return msg;\n} else {\n    msg.payload = 'NONE';\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 720,
        "wires": [["insert-connector"]]
    },
    {
        "id": "mqtt-in-ocpp-events",
        "type": "mqtt in",
        "z": "everest-flow-tab",
        "name": "OCPP Events",
        "topic": "everest/modules/ocpp/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 960,
        "wires": [["log-ocpp-event"]]
    },
    {
        "id": "mqtt-in-ocpp201-events",
        "type": "mqtt in",
        "z": "everest-flow-tab",
        "name": "OCPP 2.0.1 Events",
        "topic": "everest/modules/ocpp201/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1000,
        "wires": [["log-ocpp-event"]]
    },
    {
        "id": "log-session-event",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Format Session Event",
        "func": "const now = new Date();\nconst time = now.toTimeString().split(' ')[0];\nconst entry = {\n    time: time,\n    type: 'SESSION',\n    message: 'State: ' + msg.payload,\n    color: '#4fc3f7'\n};\n\nlet logs = global.get('activity_logs') || [];\nlogs.unshift(entry);\nif (logs.length > 100) logs = logs.slice(0, 100);\nglobal.set('activity_logs', logs);\n\nmsg.payload = logs;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 960,
        "wires": [["activity-log-display"]]
    },
    {
        "id": "log-ocpp-event",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Format OCPP Event",
        "func": "// Parse payload if string\nlet data = msg.payload;\nif (typeof data === 'string') {\n    try { data = JSON.parse(data); } catch(e) { data = {}; }\n}\n\n// Extract module and event name\nconst parts = msg.topic.split('/');\nlet module = '';\nlet eventName = '';\n\n// Find module name (ocpp or ocpp201)\nconst modIdx = parts.findIndex(p => p.startsWith('ocpp'));\nif (modIdx >= 0) module = parts[modIdx];\n\n// Get event name from payload or topic\nif (data && data.name) {\n    eventName = data.name;\n} else {\n    const implIdx = parts.indexOf('impl');\n    if (implIdx >= 0 && parts[implIdx+1]) {\n        eventName = parts[implIdx+1] + '/' + (parts[implIdx+2] || '');\n    } else {\n        eventName = parts.slice(-2).join('/');\n    }\n}\n\n// Get payload data (use data.data if available, otherwise data)\nlet payloadData = data.data || data;\nlet payloadStr = '';\ntry {\n    payloadStr = JSON.stringify(payloadData);\n} catch(e) {\n    payloadStr = String(payloadData);\n}\n\nconst now = new Date();\nconst time = now.toTimeString().split(' ')[0];\n\nconst entry = {\n    time: time,\n    type: module.toUpperCase() || 'OCPP',\n    message: eventName,\n    payload: payloadStr,\n    color: '#ce93d8'\n};\n\nlet logs = global.get('activity_logs') || [];\nlogs.unshift(entry);\nif (logs.length > 100) logs = logs.slice(0, 100);\nglobal.set('activity_logs', logs);\n\nmsg.payload = logs;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1000,
        "wires": [["activity-log-display"]]
    },
    {
        "id": "log-user-action",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Format User Action",
        "func": "const now = new Date();\nconst time = now.toTimeString().split(' ')[0];\n\n// Extract action from topic\nlet action = msg.topic.split('/').pop();\nlet value = msg.payload;\n\nlet message = action;\nif (value !== '' && value !== undefined) {\n    message += ': ' + value;\n}\n\nconst entry = {\n    time: time,\n    type: 'ACTION',\n    message: message,\n    color: '#81c784'\n};\n\nlet logs = global.get('activity_logs') || [];\nlogs.unshift(entry);\nif (logs.length > 100) logs = logs.slice(0, 100);\nglobal.set('activity_logs', logs);\n\nmsg.payload = logs;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [["activity-log-display"]]
    },
    {
        "id": "activity-log-display",
        "type": "ui-template",
        "z": "everest-flow-tab",
        "group": "group-activity-log",
        "name": "Activity Log",
        "order": 1,
        "width": "6",
        "height": "8",
        "head": "",
        "format": "<template>\n  <div class=\"activity-log\">\n    <div v-for=\"(entry, index) in logs\" :key=\"index\" class=\"log-entry\" @click=\"toggle(index)\">\n      <div class=\"log-header\">\n        <span class=\"log-time\">{{ entry.time }}</span>\n        <span class=\"log-type\" :style=\"{ color: entry.color }\">{{ entry.type }}</span>\n        <span class=\"log-message\">{{ entry.message }}</span>\n        <span v-if=\"entry.payload\" class=\"log-expand\">{{ expanded[index] ? '▼' : '▶' }}</span>\n      </div>\n      <div v-if=\"expanded[index] && entry.payload\" class=\"log-payload\">{{ formatPayload(entry.payload) }}</div>\n    </div>\n    <div v-if=\"logs.length === 0\" class=\"log-empty\">No activity yet...</div>\n  </div>\n</template>\n\n<script>\n  export default {\n    data() {\n      return {\n        logs: [],\n        expanded: {}\n      }\n    },\n    methods: {\n      toggle(idx) {\n        this.expanded[idx] = !this.expanded[idx];\n        this.$forceUpdate();\n      },\n      formatPayload(p) {\n        try {\n          return JSON.stringify(JSON.parse(p), null, 2);\n        } catch(e) {\n          return p;\n        }\n      }\n    },\n    watch: {\n      msg: function(newMsg) {\n        if (newMsg && Array.isArray(newMsg.payload)) {\n          this.logs = newMsg.payload.slice(0, 50);\n        }\n      }\n    }\n  }\n</script>\n\n<style>\n  .activity-log {\n    font-family: 'JetBrains Mono', 'Fira Code', 'Consolas', monospace;\n    font-size: 11px;\n    background: #0d1117;\n    border-radius: 6px;\n    padding: 8px;\n    height: 320px;\n    overflow-y: auto;\n    border: 1px solid #30363d;\n  }\n  .log-entry {\n    padding: 4px 0;\n    border-bottom: 1px solid #21262d;\n    cursor: pointer;\n  }\n  .log-entry:hover {\n    background: #161b22;\n  }\n  .log-header {\n    display: flex;\n    gap: 8px;\n    align-items: center;\n  }\n  .log-time {\n    color: #6e7681;\n    flex-shrink: 0;\n  }\n  .log-type {\n    font-weight: 600;\n    flex-shrink: 0;\n    min-width: 70px;\n  }\n  .log-message {\n    color: #c9d1d9;\n    flex: 1;\n  }\n  .log-expand {\n    color: #6e7681;\n    font-size: 10px;\n  }\n  .log-payload {\n    margin: 6px 0 2px 80px;\n    padding: 8px;\n    background: #161b22;\n    border-radius: 4px;\n    color: #7ee787;\n    white-space: pre-wrap;\n    word-break: break-all;\n    font-size: 10px;\n    max-height: 150px;\n    overflow-y: auto;\n  }\n  .log-empty {\n    color: #6e7681;\n    text-align: center;\n    padding: 20px;\n  }\n  .activity-log::-webkit-scrollbar {\n    width: 6px;\n  }\n  .activity-log::-webkit-scrollbar-track {\n    background: #0d1117;\n  }\n  .activity-log::-webkit-scrollbar-thumb {\n    background: #30363d;\n    border-radius: 3px;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 960,
        "wires": [[]]
    },
    {
        "id": "mqtt-in-debug-state",
        "type": "mqtt in",
        "z": "everest-flow-tab",
        "name": "All State",
        "topic": "/external/state/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1120,
        "wires": [["format-debug-state"]]
    },
    {
        "id": "format-debug-state",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Format State Table",
        "func": "let cur_topic_index = -1;\n\nvar topics_list = global.get('state_topics_list') || [];\nvar payload_list = global.get('state_payload_list') || [];\nvar new_payload = [];\n\nfor (var i = 0; i < topics_list.length; i++) {\n    if (topics_list[i] === msg.topic) {\n        cur_topic_index = i;\n        break;\n    }\n}\n\nif (cur_topic_index > -1) {\n    payload_list[cur_topic_index] = msg.payload;\n} else {\n    topics_list.push(msg.topic);\n    payload_list.push(msg.payload);\n}\n\nglobal.set('state_topics_list', topics_list);\nglobal.set('state_payload_list', payload_list);\n\nfor (var j = 0; j < payload_list.length; j++) {\n    new_payload.push({\n        'Variable': topics_list[j].replace('/external/state/', ''),\n        'Value': payload_list[j]\n    });\n}\n\nmsg.payload = new_payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "global.set('state_topics_list', []);\nglobal.set('state_payload_list', []);",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1120,
        "wires": [["debug-state-table"]]
    },
    {
        "id": "debug-state-table",
        "type": "ui-table",
        "z": "everest-flow-tab",
        "group": "group-debug-state",
        "name": "State Table",
        "label": "System State",
        "order": 1,
        "width": "6",
        "height": "8",
        "maxrows": 50,
        "autocols": true,
        "columns": [],
        "x": 590,
        "y": 1120,
        "wires": [[]]
    },
    {
        "id": "http-root-redirect",
        "type": "http in",
        "z": "everest-flow-tab",
        "name": "Root Redirect",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1200,
        "wires": [["redirect-to-dashboard"]]
    },
    {
        "id": "redirect-to-dashboard",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Redirect to /dashboard",
        "func": "msg.statusCode = 302;\nmsg.headers = { 'Location': '/dashboard' };\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1200,
        "wires": [["http-response-redirect"]]
    },
    {
        "id": "http-response-redirect",
        "type": "http response",
        "z": "everest-flow-tab",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 1200,
        "wires": []
    },
    {
        "id": "mqtt-in-auth-events",
        "type": "mqtt in",
        "z": "everest-flow-tab",
        "name": "Session Events",
        "topic": "everest/modules/evse_manager_1/impl/evse/var",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1280,
        "wires": [["detect-timeout"]]
    },
    {
        "id": "detect-timeout",
        "type": "function",
        "z": "everest-flow-tab",
        "name": "Detect Timeout",
        "func": "// Parse payload\nlet data = msg.payload;\nif (typeof data === 'string') {\n    try { data = JSON.parse(data); } catch(e) { data = {}; }\n}\n\n// Check for PluginTimeout event from evse_manager session_event\nconst isTimeout = \n    (data && data.name === 'session_event' && \n     data.data && data.data.event === 'PluginTimeout');\n\nif (isTimeout) {\n    // Set timeout state\n    flow.set('vehicle_state', 'TIMED OUT');\n    msg.payload = 'TIMED OUT';\n    msg.topic = 'timeout';\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1280,
        "wires": [["display-state", "combine-state-power", "log-session-event"]]
    },
    {
        "id": "group-fault-injection",
        "type": "ui-group",
        "name": "Fault Injection (Testing)",
        "page": "page-home",
        "width": "6",
        "height": "1",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "switch-fault-ground",
        "type": "ui-switch",
        "z": "everest-flow-tab",
        "group": "group-fault-injection",
        "name": "Ground Fault",
        "label": "MREC2 Ground Failure",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "everest_external/nodered/#/carsim/error",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "{\"error_type\":\"MREC2GroundFailure\",\"raise\":\"true\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "#f44336",
        "offvalue": "{\"error_type\":\"MREC2GroundFailure\",\"raise\":\"false\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 1360,
        "wires": [["insert-connector"]]
    },
    {
        "id": "switch-fault-overcurrent",
        "type": "ui-switch",
        "z": "everest-flow-tab",
        "group": "group-fault-injection",
        "name": "Over Current",
        "label": "MREC4 Over Current",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "everest_external/nodered/#/carsim/error",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "{\"error_type\":\"MREC4OverCurrentFailure\",\"raise\":\"true\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "#f44336",
        "offvalue": "{\"error_type\":\"MREC4OverCurrentFailure\",\"raise\":\"false\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 1400,
        "wires": [["insert-connector"]]
    },
    {
        "id": "switch-fault-estop",
        "type": "ui-switch",
        "z": "everest-flow-tab",
        "group": "group-fault-injection",
        "name": "Emergency Stop",
        "label": "MREC8 Emergency Stop",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "everest_external/nodered/#/carsim/error",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "{\"error_type\":\"MREC8EmergencyStop\",\"raise\":\"true\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "#f44336",
        "offvalue": "{\"error_type\":\"MREC8EmergencyStop\",\"raise\":\"false\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 1440,
        "wires": [["insert-connector"]]
    },
    {
        "id": "switch-fault-pilot",
        "type": "ui-switch",
        "z": "everest-flow-tab",
        "group": "group-fault-injection",
        "name": "Pilot Fault",
        "label": "MREC14 Pilot Fault",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "everest_external/nodered/#/carsim/error",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "{\"error_type\":\"MREC14PilotFault\",\"raise\":\"true\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "#f44336",
        "offvalue": "{\"error_type\":\"MREC14PilotFault\",\"raise\":\"false\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 1480,
        "wires": [["insert-connector"]]
    },
    {
        "id": "switch-fault-contactor",
        "type": "ui-switch",
        "z": "everest-flow-tab",
        "group": "group-fault-injection",
        "name": "Contactor Fault",
        "label": "MREC17 Contactor Fault",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "everest_external/nodered/#/carsim/error",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "{\"error_type\":\"MREC17EVSEContactorFault\",\"raise\":\"true\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "#f44336",
        "offvalue": "{\"error_type\":\"MREC17EVSEContactorFault\",\"raise\":\"false\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 1520,
        "wires": [["insert-connector"]]
    },
    {
        "id": "switch-fault-permanent",
        "type": "ui-switch",
        "z": "everest-flow-tab",
        "group": "group-fault-injection",
        "name": "Permanent Fault",
        "label": "Permanent Fault",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "everest_external/nodered/#/carsim/error",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "{\"error_type\":\"PermanentFault\",\"raise\":\"true\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "#f44336",
        "offvalue": "{\"error_type\":\"PermanentFault\",\"raise\":\"false\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 1560,
        "wires": [["insert-connector"]]
    }
]
